# IDE metadata
.vscode/
.vs/
.ionide/

# Storage
mongo/
rabbitmq/

# Python builds/cache
__pycache__
*.egg-info
.eggs
*.py[cod]

# Secrets
.env.local

# Docker
docker-build

# Visual Studio
.vs

# Binaries
**/wwwroot/images/

# Resharper Code Inspection
resharper.xml

