@page
@model DischargeModel
@using Roster.Core.Domain

<h1>Discharge member</h1>

<form class="form" method="post">
    <div class="mb-3">
        <label asp-for="Nickname" class="form-label">Nickname</label>
        <input asp-for="Nickname" class="form-control" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="DischargePath" class="form-label">Discharge reason</label>
        <select asp-for="DischargePath" asp-items="Html.GetEnumSelectList<DischargePath>()" class="form-select">
            <option value="0">Choose a discharge path</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Comment" class="form-label">Additional comment</label>
        <textarea asp-for="Comment" class="form-control"></textarea>
    </div>
    <div>
        <input type="submit" class="btn btn-danger" value="Discharge" />
    </div>
</form>