@page
@model TestModel

<h1>Test member system</h1>

<form method="POST">
    <label asp-for="Nickname"></label>
    <input asp-for="Nickname"/>
    <input type="submit" value="Accept application" />
</form>